
/* will need integrating with variables.css and base.css to use myth idc */

.flex-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  max-width: 1200px;
}


.flex-main {
  flex-basis: 70%;
  text-align: left;
  /* background: deepskyblue; */
  padding: 5px;
}

.graphDropArea {
  flex-basis: 70%;
  text-align: left;
  background: rgba(200,200,200,0.3);
  margin-left: 3px;
  margin-right: 3px;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 3px;
}

.flex-aside-1 {
  flex-basis: 15%;
  background: rgba( 240, 240, 240, 1);
  /* background: gold; */
  /* width: 10%; */
  padding: 5px;
  border: 1px solid gray;
  border-radius: 3px;
}

.flex-aside-2 {
  flex-basis: 14%;
  background: rgba( 240, 240, 240, 1);
  /* width: 10%; */
  padding: 5px;
  border: 1px solid gray;
  border-radius: 3px;
}




