html {
	padding-top: 0;
	/*background-image: url(var(--image_dir)/bg_page.png); */
	background-color: var(--html_bg_color);
	font-family: var(--fontfamily_sans_serif);	

}

body{
	width: auto;
	padding: 10px;
	margin-top: 5px;
	box-shadow: 0 0 10px var(--body_glow);
	background-color: var(--body_bg_color);
	border-radius: 10px;
	border: 1px solid gray;
}

.subarticle{
	width: 100%;
	clear: both;
}

h1, h2, h3{
	color: var(--heading_text_color);
	padding-top: 10px;
}
p {
	color: var(--p_color);
}

header, footer, nav{
	display: block;
}

header {
	background-color: var(--header_bg_color); 
	border-radius: 10px;
}
/* messy fix for nav element dropping */

header:after, nav:after {		
  content: " ";
  display: table;
  clear: both;
}

header h1 {
	font-size: 2em;	
	color: var(--header_text_color);
	text-shadow: 1px 1px 2px var(--header_text_color);
	font-weight: bold;
	padding-left: 20px;
	padding-top: 10px;
		
}

.loginRegister{
	float: right;
	border: 1px solid var(--nav_text_color);
	border-radius: 5px;
	box-shadow: 0 0 3px var(--nav_text_color);
	background-color: var(--nav_text_color);
	margin-right: 50px;
}
.loginRegisterButton{
	font-size: 1.1em;
	display: inline-block;
	background: url(var(--image_dir)/lock-sprite.gif) no-repeat;
	background-position: left top;
	/* background-position: left -26px; */ /* unlocked */
	padding-left: 30px;
	padding-right: 5px;
	color:	red;
	text-decoration: none;
	transition: all var(--transition_speed_hover);
}
.loginRegisterButton:hover{
	box-shadow: none;
	color: black;
	background-color: var(--nav_bg_hover);
	font-weight: bold;
}

.mainNavbar, .sideNavbar ul{
	overflow: hidden;
}
.sideNavbar ul{
	margin-top: 10px;
	margin-right: 5px;
	padding-right: 5px;
}

.mainNavbar li, .sideNavbar li {
	float: left;
	padding: 0;
	margin: 0;
	list-style: none;	
}
.mainNavbar li {
	border-bottom: 1px solid var(--nav_text_color);
}
.sideNavbar li{
	border: 1px dotted var(--nav_text_color);
	padding: 5px;
	width: 100%;
}
.mainNavbar a, .sideNavbar a {
	display: block;
	font-size: 1em;	
	color: var(--nav_text_color);
	font-weight: normal;
	text-decoration: none;
	transition: all var(--transition_speed_hover);
	width: 100%;
	
	/* faffing with overrun */
	overflow: auto;
	clear: both;
}
.mainNavbar a{
	float: left;
	padding: 5px;
	border-right: 1px dotted var(--nav_text_color);
}
.mainNavbar li:last-of-type a {
	border-right: none;	
}
.mainNavbar a:hover, .sideNavbar a:hover {
	background-color: var(--nav_bg_hover);
	font-weight: bold;
}
.mainNavBar .inactive{
	color:	var(--mainNav_inactive_color);
}

.home .homeLink,
.vigr .vigrLink,
.aboutUs .aboutUsLink,
.yourAccount .yourAccountLink,
.tutorials .tutorialsLink,
.news .newsLink,
.company .companyLink
{
	background-color: var(--nav_here_now_bg);
	color:		var(--nav_here_now_text);
}

.home:hover .homeLink:hover,
.vigr:hover .vigrLink:hover,
.aboutUs:hover .aboutUsLink:hover,
.yourAccount:hover .yourAccountLink,
.tutorials:hover .tutorialsLink,
.news:hover .newsLink:hover,
.company:hover .companyLink:hover
{
	color: var(--nav_here_now_text_hover);
}

.contentWrapper{

}

.svg-container { 
	display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 100%; 
	vertical-align: middle; 
	overflow: hidden; 
}

.svg-content { 
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}

.mainFirst{
	float: left;
	width: 80%;
}

.main{
	background-color: var(--body_bg_color);
	padding: 0 5px 0 5px;
	border-left: 1px dotted gray;
	border-right: 1px dotted gray;
	clear: left;
}

.main h2 {
	font-size: 1.15em;
	margin-top: 10px;	
}
.main h3 {
	font-size: 1em;
	margin-top: 5px;	
}
.main p {
	margin-bottom: 5px;	
}
aside ul{
	list-style: none;
}
aside h2 {
	font-size: 1em;
	margin-top: 10px;	
}
aside h3 {
	font-size: 1em;
	margin-top: 10px;
}
aside p, aside li {
	font-size: .75em;
	margin-top: 10px;
}
aside li{
	list-style: none;
}

footer {
	margin-top: 5px;
	font-size: .75em;	
	padding: 10px 10px 10px 10px;
	border: 1px solid gray;	/* needs var */
	border-radius: 5px;
	background-color: var(--footer_bg_color);
	color: var(--footer_text_color);
	clear: both;
}

/* will need to set via viewport in response to capabilities */
nav ul, header, header > *, footer, footer > *, .contentWrapper, body {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}	

