        /* 
		#grid1 {
            background: lightgoldenrodyellow;
        }

        #grid2 {
            background: lightcyan;
        }
		*/
        .sidebar {
            background: rgba(0, 255, 0, 0.1);
            height: 150px;
            padding: 25px 0;
            text-align: center;
        }

        .sidebar {
            width: 200px;
            height: 100px;
            border: 2px dashed red;
            text-align: center;
            line-height: 100px;
            z-index: 10;
            background: rgba(0, 255, 0, 0.1);
            cursor: default;
            display: inline-block;
        }
		
        /* panel display */
        .show{
            display: block;
        }
        
        .hide{
            display: none;
        }
        
       
        
        /* file name selection styling */
        
        .filelist_cont {
            padding-top: 10px;
        }
        
        .filelist_fname, .filelist_desc{
            float: left;
            width: 200px;
            overflow: auto;
        }
        
        /* need to fiddle with these to get the overlay effect correct */
        /*
		.toggler { 
            width: 500px; 
            height: 200px; 
            opacity: 1;
        }
            #button { padding: .5em 1em; text-decoration: none; }
            #effect { width: 240px; height: 135px; padding: 0.4em; position: relative; }
            #effect h3 { margin: 0; padding: 0.4em; text-align: center; }
        */
        
        .graphDrop {
            overflow: hidden;       /* or auto?? TODO */
            margin: 5px;
        }
        
        .graphStyle{
            border: 0px;
        }
        
        .graphMenu {
            min-height: 20px;
            min-width: 200px;
            padding:    0px;
            border:     1px solid gray;
            background: #dddddd;
            border-radius: 2px;
            margin-bottom: 1px;
            
        }
        
        .graphMenu:hover {
            background-color: rgba( 255, 255, 153, 1);
            cursor: grab;    /* get a hand for drag */
        }
        
        .graphMenuIcons {    /* separate div with min-height for enclosing div is needed  */
                             /* to get icons to flush right here while still showing menu */
                             /* bar which serves as the grab handle for the graph         */
            float: right;
            clear: both;    
        }
        
        .graphMenu > img, .graphMenuIcons > img {
            margin-left: 1px;
            margin-right: 1px;
            cursor: pointer;
        }
        
        .graphMenu:active {
            cursor: grabbing;   /* doesn't like touchpad */
        }


        .graphSVG {
            min-height: 200px;
            min-width:  200px;
            height:100%;
            width:100%;
            border: 1px solid gray;
            border-radius: 2px;
        }
        
        .graphSVG:hover{
            cursor: crosshair;
        }
        
        /* responsive SVG */
        .svg_resp {
            display: inline-block;
            position: relative;
            width: 100%;
            padding-bottom: 100%; /* aspect ratio */
            vertical-align: top;
            overflow: hidden;
        }
        .svg-content-responsive {
            display: inline-block;
            position: absolute;
            top: 10px;
            left: 0;
        }
        
        /* svg classes */
        .axis path, .axis line {
            fill: none;
            stroke: black;
            shape-rendering: crispEdges;
        }

        .axis text {
            font-family: sans-serif;
            font-size: 8px;
        }
        
        
        
        /***************/
        
        .toolbar_hdg {	/* clash with ui TODO */
            color: rgba( 25, 25, 50, 0.7);
            padding-top: 0px;
            padding-bottom: 5px;
        }
         
		/* button state */
		.active{
                }
        
		.inactive {
            color: rgba( 200, 200, 200, 0.7);
        }
		
        .tool_btn {
			width: 100%;
            background: rgba( 255, 255, 255, 1); 
            border: 1px solid gray;
			border-radius: 2px;
            /* need to blend to background via ui accordion */
            border: 0px;
            /* box-shadow: 0px 0px 0px 0px; */
			margin-top: 2px;
            padding: 5px;
            /* color: red; */
        }
        
        .tool_btn:hover {
            border: 1px solid black;
			background-color: white;
            color: blue;
        }
        
        
        /* needs fix to background colour */
		.tool_btn.inactive:hover{
			border: 1px solid white;
			color: rgba( 200, 200, 200, 0.7);
            
        }      
              
        /* classes to control columns in library section */
		.ds_use {
        }
        
        .tool_panel_content .grph_sel_panel_content{
            max-height: 400px;
            overflow-y: auto;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        
        .tool_buttons{
            height: auto;
            clear: both;
        }
        
        .testmark{
            border: 2px solid red;
            background: white;
            opacity: 0.5;
        }
        
        .brush{
            
        }
        
        .brush .extent {
            stroke: rgb( 50, 50, 150);
            fill-opacity: .1;
            shape-rendering: crispEdges;
        }
        
        /* will need to modify for other marks */
        .selecting circle {
            fill-opacity: .2;
        }

        .selecting circle.selected {
            stroke: rgb(200,100,100);
        }
        
        .dynamicBrush {
            fill: rgba(0,0,0,0);
            stroke: rgba(200,100,100,0.5);
        }

        /*
        .brushed{
            
        }
        */
        
        /* need to get height fixed on this TODO */
        
		.panel_btn {
            background: rgba( 245, 245, 245, 0.9);
            border: 1px solid gray;
			border-radius: 2px;
			font-size: 0.9em;
            font-weight: normal;
            float: right;
            padding: 5px 5px 5px 5px;
            /* there's an interaction with ui on these */
            margin: 5px 5px 5px 5px;
            /* color: red; */
        }
        
        .panel_btn:hover {
            background: rgba(255, 255, 255, 0.9);
            box-shadow: 2px 2px 2px 2px rgba(55, 55, 55, 0.9);
            border: 1px solid black;
            font-weight: normal;
            color: blue;
        }
        
        
        .sliding_panel {
			font-size: 0.8em;
            border: 1px solid rgba( 75, 75, 75, 1);
			border-radius: 3px;
            background: rgba ( 250, 250, 250, 1);
			background: white;
            padding: 10px 10px 50px 10px;	/* bottom 50px padding for buttons - don't need for graphs */ 
			margin-bottom: 3px;
        }
        
        .alt_input_box {
            border: 1px solid gray;
        }

        
        /* graph toolbar & panels */
        
        /* make sure that an icon can always display */
        /* need to leave some space for text */
		
		/* take background values from tool_btn TODO */
		
        .icon{
          min-width: 64px;
          min-height:80px;
          /* testing background image */
          /* this will have to be set on a per icon basis */
          background: white;
          border: 1px solid black;
	      border-radius: 2px;
          padding: 2px;
          margin: 2px 0px 2px 0px;
        }

        .icon:hover{
          border: 1px solid black;
          background: rgba(150,200,255,0.9);          
        }
	
        .graphTitle{
            color: blue;
        }
        
        .graph_choice{
            float: left;
			background: white;
            border: 1px solid gray;
			border-radius: 2px;
            padding: 2px;
            margin: 1px 4px 1px 4px;
        }
        
        .spoke {
            stroke: lightgray;
            stroke-width: 2;
            fill: none;
            opacity: 0.3;
        }
        
        .spokelabel {
            color: lightgray;
            opacity: 0.3;
            font-size: 0.8em;
        }
        
        /* these are the overlapping clonotypes for Morisita-Horn */
        .underlying {
            opacity: 0.8;
            fill: lightgreen;
            stroke: none;
        }
        
        .overlap {
            stroke: blue;
            stroke-width: 1;
            fill: none;
            opacity: 0.8;
            
        }

        .sortable {             /* this marks the graph area and enables the drag & shuffle */
            margin: 0; 
            padding: 0; 
            display: inline;
        }
        
        .sortable .graphStyle { 
            margin: 1px;
            float: left; 
            text-align: center; 
        }
                  
        
        /* playing with slideout sidebar */
        /* works but something to do in longterm; impacts opacity of menubar
        // needs border for hover and disrupts layout of left hand side of graph area
        */
        /*
        .flex-aside-1 {
            position: fixed;
            left: -5em;
        }
        
        .flex-aside-1:hover{
            left: 0;
        }
        */
        
        
        
