
/*
 will need to style this with remainder of package idc TODO
 will also need to make flex friendly
*/

.data_src_choice { position:relative }
.data_src_choice .selectfield {
	/* width:300px; background:#EC6603; color:#fff; padding:5px; border:none; cursor:pointer; */
	color:#fff; padding:5px; border:none; cursor:pointer;
	/* font-family:'lucida sans unicode',sans-serif; font-size:1em; */
	border:solid 1px #EC6603;
	-webkit-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}
.data_src_choice .selectfield:hover {
	border:solid 1px #fff;
    background: red;
	-moz-box-shadow:0 0 5px #999; -webkit-box-shadow:0 0 5px #999; box-shadow:0 0 5px #999
}
.data_src_choice>ul.selectlist { display:none;
	position:absolute; left:30px; top:-30px; z-index:999;
	/* width:300px; */
	margin:0; padding:10px; list-style:none;
	background:#fff; color:#333;
	-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;
	-moz-box-shadow:0 0 5px #999; -webkit-box-shadow:0 0 5px #999; box-shadow:0 0 5px #999
}
.data_src_choice>ul.selectlist li {
	padding:10px;
	border-bottom: solid 1px #ccc;
}
.data_src_choice>ul.selectlist li:hover {
	/* background:#EC6603; color:#fff; */
    background:white; color:red;
}
.data_src_choice>ul.selectlist li:last-child { border:none }