/* this should contain variables in format of proposed CSS addition for 
*  processing by myth
*/

:root{
	--html_bg_color: 		rgb(255,255,255);
	--body_bg_color: 		rgba(250, 250, 250,0.9);
	--body_glow:			rgba(245, 245, 245,0.5);

	--header_bg_color:		rgba(59, 189, 15,0.7);
	--header_text_color:	rgba(255,255,255,0.9);
	
	--nav_bg_color:			rgba(73,58,23,0.7);
	--nav_bg_hover:			rgba(102, 255, 51,1.0);
	--nav_here_now_bg:		rgba(77, 153, 51,0.7);
	--nav_here_now_text:	yellow;
	--nav_here_now_text_hover: black;
	--nav_text_color:		white;
	--mainNav_inactive_color: gray;
	
	--footer_bg_color:		rgba(240, 240, 240, 0.5);
	--footer_text_color:	rgb(200,200,200);
	
	--heading_text_color:	rgb(64,64,64);
	--p_color: 				black;
	
	--transition_speed_hover:	0.1s;

	/* remember image dir is relative to css file, not html */
	--image_dir: 				../images;
	--fontfamily_sans_serif:	'Helvetica Neue', Helvetica, Arial, sans-serif;
	
	/* screen dimension stuff for flexbox */
	--max_body_width:		1200;
	
	/* visualisation toolbars */
	--iconbar_border_color:	gray;
	--icon_border_color_hover: blue;
	--iconbar_border_width:	1px;
	
}